<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandi.hanuman.chalisa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nandi.hanuman.chalisa.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nandi.hanuman.chalisa.HanumanMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Maruta Nandan Namo Namah"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.nandi.hanuman.chalisa.MantraList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.ShreeRamDutayaNamah"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shree Ram Dutaya Namah"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.OmNamahShivayaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.HanumanChalisa"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.OmMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Om Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.ShreeKrishnaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.OmAnjaneyaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Om Anjaneya Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.ShreeRamMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shree Ram Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.SaiBabaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.OmHumHanumate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Om Hanumate Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nandi.hanuman.chalisa.ShaniMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name="com.tappx.sdk.android.TrackInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>